<!-- Experience & Education block -->

<div class="Skill-container shadow-sm p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col-9"></div>
    </div>
  
    <div class="row">
      <div class="col-12">
        <div class="block-header">
          <div class="about-header-h2">
            <h4>Experience</h4>
          </div>
          <div class="space"></div>
          <div class="about-header-icon">
            <div class="about-edit">
              <a
                data-toggle="modal"
                data-target="#exampleModalSkill"
                data-whatever="@getbootstrap"
              >
                <i class="fa fa-plus"> </i
              ></a>
            </div>
          </div>
        </div>
  
        <div class="Skill-body-container">
          <div class="Skill-text-Icon-container">
            <div class="Skill-text">
              <img src="assets/images/ITIlogo.png" class="logo" />
  
              Information Technology Institute (ITI)
            </div>
            <div class="Skill-space"></div>
            <div class="Skill-edit">
              <i class="fas fa-pencil-alt pen add"></i>
            </div>
          </div>
        </div>
  
        <div class="Skill-body-container">
          <div class="Skill-text-Icon-container">
            <div class="Skill-text">
              <img src="assets/images/0.png" class="logo" />
  
              Valu (It's about Time)
            </div>
            <div class="Skill-space"></div>
            <div class="Skill-edit">
              <i class="fas fa-pencil-alt pen add"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <div class="row">
      <div class="col-12">
        <div class="block-header">
          <div class="about-header-h2">
            <h4>Education</h4>
          </div>
          <div class="space"></div>
          <div class="about-header-icon">
            <div class="about-edit">
              <a
                data-toggle="modal"
                data-target="#exampleModalSkill"
                data-whatever="@getbootstrap"
              >
                <i class="fa fa-plus edit"> </i
              ></a>
            </div>
          </div>
        </div>
  
        <div class="Skill-body-container">
          <div class="Skill-text-Icon-container no-border">
            <div class="Skill-text">
              <img src="assets/images/ITIlogo.png" class="logo" />
  
              Information Technology Institute (ITI)
            </div>
            <div class="Skill-space"></div>
            <div class="Skill-edit">
              <i class="fas fa-pencil-alt pen edit"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
